/* 
    Created on : 19/04/2021, 09:58:14 PM
    Author     : alexl
*/
body{
    background-image: url(http://wallpapercave.com/wp/VkSPaWS.jpg);
    text-align: center;
    color: white;
    font-family: "GENTIUM BASIC" !important
}
table{
    background: #05445E;
    color:  #D4F1F4 !important;
    min-height: 500px;
    max-height: 700px;
    overflow: auto;
}
.title{
    font-family: "Open Sans";
    font-style: italic;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #dcdce4, 0 -2px 10px #D4F1F4, 0 -10px 20px #189AB4, 0 -18px 40px #05445E;
}
.heads{
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 500;
    text-align: center;
    font-size: 2.5rem;
}

